[Desktop Entry]
Type=Application
Version=0.9.4
Name=Uninstall NAO meshes
Comment=Uninstall
Icon=
Exec=/home/louis/Documents/simulation/nao_description/original_urdf/uninstall
Terminal=false
Path=/home/louis/Documents/simulation/nao_description/original_urdf